name: Docker Image CI

on:
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Docker login
      env:
        DOCKER_USER: ${{ secrets.DOCKER_USER }}
        DOCKER_PASS: ${{ secrets.DOCKER_PASS }}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASS
    - name: Docker build
      run: |
        docker build -t 1561358218018/bux-assignment:$GITHUB_RUN_NUMBER .
    - name: Docker push
      run: |
        docker push 1561358218018/bux-assignment:$GITHUB_RUN_NUMBER
    - name: Clone infra repo
      env:
        GITOPS_TOKEN: ${{ secrets.GITOPS_TOKEN }}
      run: |
        git config --global user.email "blazhe.mitrev@gmail.com"
        git config --global user.name "bmitrev"
        cd chart
        git checkout -b buxActions-$GITHUB_RUN_NUMBER
        sed -i "s/tag: .*$/tag: $GITHUB_RUN_NUMBER/g" values.yaml 
        cd ../
        git add -A
        git commit -m "Testing commit"
        git push --set-upstream origin buxActions-$GITHUB_RUN_NUMBER
  
    
